/* Reset default margin and padding */
html, body, header, main {
    margin: 0;
    padding: 0;
  }
  
  /* Apply styling to the header */
  header {
    background-color: #fbfafa;
    padding: 0%;
  }
  
  /* Style the main content area */
  main {
    margin: 0%;
  }
  
  /* Style the desktop view section */
  .desktop-view {
    margin-bottom: 0%;
  }
  
  /* Style the mobile view section */
  .mobile-view {
    margin-bottom: 0%;
  }