@import "../node_modules/bootstrap/scss/bootstrap";

.section-1-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-1-content {
    width: 100vw;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.background-1 {
    padding: 0px;
    width: 100%;
    background: transparent url('../assets/AdobeStock_145919411.png') 0% 0% no-repeat padding-box;
    background-size: 100%;
    position: relative;
}

.logo-wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 24vw;
    height: 23vh;
}

.line-and-text {
    display: flex;
}

.logo-text-line {
    /* Layout Properties */
    width: 63vw;
    height: 0px;
    /* UI Properties */
    border: 2px solid #DCFFE8;
    opacity: 1;
    margin-right: 10px;
    margin-top: 1vh;
}

.logo-text {
    width: 27vw;
    text-align: left;
    font: normal normal normal 2vw Axia;
    letter-spacing: 0px;
    color: #DCFFE8;
    opacity: 1;
}

.connection-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.connection {
    /* Layout Properties */
    width: 29vw;
    height: 50vh;
    /* UI Properties */
    opacity: 1;
}

h1 {
    /* Layout Properties */
    width: 78vw;
    height: 13vh;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 5vw/13vh Corporate S;
    letter-spacing: 2vw;
    color: #44FFF5;
    opacity: 1;
    top: 45%;
    position: absolute;
}

.background-2 {
    width: 100vw;
    min-height: 50vh;
    background: transparent radial-gradient(closest-side at 0% 100%, var(--unnamed-color-000000) 0%, var(--unnamed-color-001e33) 100%) 0% 0% no-repeat padding-box;
    background: transparent radial-gradient(closest-side at 0% 100%, #000000 0%, #001E33 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

#Group_50 {
    width: 5vh;
    height: 5vh;
}

.mission-line {
    border: 2px solid #FFFFFF;
    opacity: 1;
    width: 47vw;
    height: 0px;
}

.mission-text {
    width: 27vw;
    letter-spacing: 0px;
    text-align: left;
    font: normal normal normal 1.5vw Axia;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0px;
}

.card-1 {
    background: #FFDC00 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 25rem;
    height: 58vh;
}

.card-2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 25rem;
    height: 58vh;
}

.card-3 {
    background: #44FFF5 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 25rem;
    height: 58vh;
}

.card-title {
    font-size: 1rem;
}

.bg-3-container {
    position: relative;
}

.background-3 {
    padding: 0px;
    width: 100vw;
    z-index: 1;
    opacity: 0.9;
}

.gradient-overlay-bg-3 {
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, rgb(4, 38, 50) 30%, hsla(195, 50%, 25%, 1) 40%, hsla(192, 30%, 38%, 1) 100%);
        z-index: 2;
        top: 0%;
        left: 0%;
        position: absolute;
        padding-left: 0px;
        opacity: 0.6;
}

.background-4 {
    width: 100vw;
    min-height: 30vh;
    background: var(--unnamed-color-001e33) 0% 0% no-repeat padding-box;
    background: #001E33 0% 0% no-repeat padding-box;
    opacity: 1;
}

.footer-main-logo {
    width: 15vw;
    margin: 6vh;
}

.linkedin-logo {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    fill: #001E33;
    border-radius: 5px;
    overflow: hidden;
    width: 1.5vh;
    height: 3vh;
}

.social-logo {
    width: 3vh;
    height: 3vh;
    overflow: hidden;
}

.footer-text {
    text-align: center;
    font: normal normal bold 24px/65px Axia;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.cities {
    margin-bottom: 15vh;
}

@media (max-width: 768px) {
    .background-2 {
        min-height: 30vh;
    }
    .background-4 {
        min-height: 15vh;
    }
    .logo {
        height: 20vh;
    }
}



// .mission {
//     /* UI Properties */
//     background: transparent radial-gradient(closest-side at 0% 100%, var(--unnamed-color-000000) 0%, var(--unnamed-color-001e33) 100%) 0% 0% no-repeat padding-box;
//     background: transparent radial-gradient(closest-side at 0% 100%, #000000 0%, #001E33 100%) 0% 0% no-repeat padding-box;
//     opacity: 1;
//     /* Layout Properties */
//     top: 2160px;
//     left: 0px;
//     width: 1921px;
//     height: 947px;
//     z-index: 0;
//     // position: absolute;
// }

// .mission-logo {
//     /* Layout Properties */
//     top: 2362px;
//     left: 186px;
//     width: 74px;
//     height: 100px;
//     /* UI Properties */
//     opacity: 1;
//     z-index: 1;
//     // position: absolute;
// }

// .mission-logo-p {
    
// }

// .verticals {
//     /* Layout Properties */
//     top: 3107px;
//     left: 0px;
//     width: 1920px;
//     height: 1056px;
//     /* UI Properties */
//     background: transparent url('../assets/thisisengineering-raeng-GzDrm7SYQ0g-unsplash-edit.png') 0% 0% no-repeat padding-box;
//     opacity: 1;
// }